<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eladnava.sunriser">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/sunriser"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity
            android:name=".activities.Main"
            android:label="@string/sunriser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Settings Activity -->
        <activity
            android:name=".activities.Settings"
            android:label="@string/action_settings"
            android:parentActivityName=".activities.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.eladnava.sunriser.activities.Main" />
        </activity>

        <!-- Boot Completed Receiver -->
        <receiver android:name=".receivers.BootCompleted">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Alarm Changed Receiver -->
        <receiver android:name=".receivers.AlarmChanged">
            <intent-filter>
                <action android:name="android.app.action.NEXT_ALARM_CLOCK_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Broadcast Receivers -->
        <receiver android:name=".receivers.ShowMoonlightReminder" />
        <receiver android:name=".receivers.HideMoonlightReminder" />

        <!-- Services -->
        <service android:name=".services.SunriseService" />
        <service android:name=".services.MoonlightService" />
        <service android:name=".services.KillDaylightService" />
    </application>
</manifest>
